* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1 {
    margin: 1ch 0 0 1ch;
}

/* grid-template-column/row is set to 16 * 1fr by default */
#grid {
    display: grid;
    max-width: 740px;
    border: 2px solid black;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    margin: 2ch 0 0 2ch;
    user-select: none;
}

.square {
    /*border: 1px dashed black;*/
    width: 100%;
    padding-bottom: 100%;
    user-select: none;
}
.square:hover {
    background-color: rgba(0, 0, 0, 0.282);
}

.filled {
    background-color: black;
}

#btn-container {
    max-width: 300px;
    margin: 2ch 0 0 2ch;
    display: flex;
    justify-content: space-between;
}

button {
    flex: 1;
    max-width: 125px;
}